@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: #ECFCCB;
  -webkit-font-smoothing: antialiased;
  font-family: 'Geologica', sans-serif;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

section{
  
}

h1{
  font-size: 25vmin;
  font-weight: 500;
}

h2{
  font-size: 28px;
  font-weight: 300;
}